@model DashboardViewModel


@if(Model.Result != null)
{
    <h1 class="result-failure-error">@Model.Result.Error</h1>
}
else
{
    <div id="dashboard-welcome-headings">
        <h1>@($"Welcome {Model.User.FirstName} {Model.User.LastName}!")</h1>

        @if(Model.Company != null)
        {
            <h2>@($"Welcome to Purpura HR for {Model.Company.Name}.")</h2>
        }
        else
        {
            <h2>You are currently not assigned to a company. Contact a manager or create a new company from the Company Details page.</h2>
        }
    </div>

    <div id="dashboard-details-container">

        <div id="dashboard-goal-section">
            @if (Model.Goals.Any())
            {
                    <h3>Current goals:</h3>
                    <div id="dashboard-goal-container">
                        @foreach(var goal in Model.Goals)
                        {
                            <div class="dashboard-goal-widget">
                                <span>@goal.Name</span>
                                <span>@($"{goal.PercentageComplete}% complete")</span>
                            </div>
                        }
                </div>
            }
            else
            {
                <h3>You currently do not have any goals set.</h3>
            }
        </div>

        <div id="dashboard-annual-leave-section">
            @{
                var leaveCountMessage = 28 - Model.AnnualLeaveRemaining > 0 ? $"You currently have {Model.AnnualLeaveRemaining} days of annual leave to take." : "You currently have no more leave to take.";
            }
            <h3>@leaveCountMessage</h3>
            @if (Model.AnnualLeave.Any(al => al.StartDate > DateTime.Now))
            {
                <h3>Upcoming Annual Leave:</h3>
                <div id="dashboard-annual-leave-container">
                    @foreach(var leave in Model.AnnualLeave.Where(al => al.StartDate > DateTime.Now))
                    {
                        <div class="dashboard-annual-leave-widget">
                            <strong>@($"{leave.StartDate.ToShortDateString()} - {leave.EndDate.ToShortDateString()}")</strong>
                            <span>@leave.Type</span>
                        </div>
                    }
                </div>
            }
            else
            {
                <h3>You currently do not have any upcoming annual leave.</h3>
            }
        </div>

    </div>
}