@model CompanyViewModel

<div class="details-container">
    @if(Model.NotManagerAndNoCompany)
    {
        <div id="company-details-header">
            <h1>You currently are not part of a company. Please contact your line Manager.</h1>
        </div>

        <div id="building-error-icon-container">
            <i class="bi bi-building-fill-x"></i>
        </div>
    }
    else
    {
        <div id="company-details-header">
            <h1>@Model.Name</h1>

            @if (User.IsInRole("Manager"))
            {
                <div>
                    <a asp-action="Edit" asp-controller="Company" asp-route-reference="@Model.ExternalReference" class="btn btn-purpura"><i class="bi bi-pencil-square button-icons"></i>Edit Company Details</a>
                    <a asp-action="Create" asp-controller="CompanyEmployee" asp-route-companyReference="@Model.ExternalReference" class="btn btn-purpura"><i class="bi bi-person-plus-fill button-icons"></i>Add Employee</a>
                </div>
            }
        </div>

        <dl id="company-detail-list">
            <dt>Address</dt>
            <dd>@Model.FullAddress</dd>

            <dt>Details</dt>
            <dd>@Model.Details</dd>
        </dl>
    }
</div>

@if(Model.Employees != null && Model.Employees.Any())
{
    <partial name="_CompanyEmployeeCards" model="@Model.Employees" />
}