@model GoalViewModel;

@{
    var dueDate = DateTime.MinValue;

    if(Model.DueDate != null)
    {
        var modelDate = (DateTime)Model.DueDate;
        dueDate = modelDate.Date;
    }

    var barPercentageStyle = $"style=width:{Model.PercentageComplete}%";
}

<div class="details-container">
    <h1>@Model.Name</h1>
    <dl>
        <dt>Due Date</dt>
        <dd>@(dueDate != DateTime.MinValue ? dueDate.ToShortDateString() : "N/A")</dd>

        <dt>Description</dt>
        <dd>@Model.Description</dd>

        <dt class="mb-2">Progress @($"{Model.PercentageComplete}%")</dt>
        <dd>
            <div class="progress mb-3 goal-details-progress-bar" role="progressbar">
                <div class="progress-bar" @barPercentageStyle></div>
            </div>
        </dd>
    </dl>
</div>
<div class="details-button-container">
    <a asp-action="Edit" asp-controller="Goal" asp-route-reference="@Model.ExternalReference" class="btn btn-purpura">Edit</a>
</div>