
@model AnnualLeaveViewModel;

<form id="leave-form" method="post" data-action-url="@Url.Action("BookTimeOff", "AnnualLeave")">
    <div class="modal-body">
        
        <div class="form-floating mb-3">
            <input class="form-control" type="date" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
            <label asp-for="@Model.StartDate">Start Date</label>
            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="date" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
            <label asp-for="@Model.EndDate">End Date</label>
            <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" asp-for="@Model.LeaveType" asp-items="@Model.LeaveTypeSelectList" name="LeaveType"></select>
            <label asp-for="@Model.LeaveType">Leave Type</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control" name="Details"></textarea>
            <label asp-for="@Model.Details">Details</label>
            <span asp-validation-for="@Model.Details" class="text-danger"></span>
        </div>

        <input type="hidden" value="@Model.UserId" name="UserId" />
    </div>
    
</form>